<p class='center'> Hello! Here your can see information about this task! </p>
<br>
<ol>
<p> Description: <br> <%= @task.description %>
<p> We need <%= @task.goal %> <%= @task.task_type %>'s
<br> And already have <%= @task.completed %> </p>
</ol>
<% if current_user %>
  <li ><%= link_to 'Perform this Task' , @task.task_url %> </li>
  <% end %>