<h4>All report's, ser. Will you answer on them?</h4>
<% if @reports %> 
	<% @reports.each do |report| %>
		From: <%= report.user.nick_name %><br>
		Text: <%= report.text %><br>
		<%= form_for :report, url: report_answer_path(report.id), method: :patch do |f| %> 
			Answer: <%= f.text_area :answer %> 
			<%= f.submit 'Save Answer' %>
		<% end %>
		<p>_____________________________________</p>
	<%end%>
<% else %>
	<p> ..no reports </p>
<% end %>

